---
---
img {
  padding: 30px 10px 30px 10px;
  width: 100%;
}

h1 {
  font-family: Rockwell;
}

.jumbotron.BW{
  background-image: url(../assets/jumbotron.png);
  background-size: cover;
  height: 100vh;
  text-align: right;
  padding-right: 20px;
}
.jumbotron.NEON{
  background-image: url(../assets/jumbotron_color.png);
  background-size: cover;
  height: 100vh;
  text-align: right;
  padding-right: 20px;
}

.fill {
  min-height: 100%
}

.btn.BW {
  background-color: rgba(255, 0, 0, 0.0) !important;
  border-color: white;
}
.btn.NEON {
  background-color: rgba(255, 0, 0, 0.0) !important;
  border-color: #C9FFF8;
}

.jumbotron {
  margin-bottom: 0rem;
}

.fc_3{
  font-family: 'Segoe UI';
}

.BW{
  .bg_1 {
	 background-color: white !important;
   .navbar-brand{
    font-family: Rockwell;
   }
  }
  .bg_2 {
    background-color: white !important;
  }
  .bg_3{
    background-color: #F5F5F5 !important;
  }
  .fc_1 {
    color: black !important;
  }
  .fc_2 {
    color: #707070 !important;
  }
  .fc_3 {
    color: white !important;
  }
  .fc_4 {
    color: black !important;
  }
  .fc_5 {
    color: white !important;
  }
  .fc_animated {
    -webkit-animation:colorchange 5s infinite alternate;
  }
  .navbar-toggler {
    border-color: rgb(0,0,0);
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  #color_button {
    background-color: rgba(255, 0, 0, 0.0) !important;
    border-color: black !important;
  }
}
 
.NEON{
  .bg_1 {
	 background-color: #222333 !important;
   .navbar-brand{
    font-family: Rockwell;
   }
  }
  .bg_3{
    background-color: #222333 !important;
  }
  .fc_1 {
    color: #ED1963 !important;
    fill: #ED1963 !important;
  }
  .fc_2 {
    color: #C9FFF8 !important;
  }
  .fc_3 {
    color: white !important;
  }
  .fc_4 {
    color: #C9FFF8 !important;
  }
  .fc_5 {
    color: #C9FFF8 !important;
  }
  .fc_animated{
    -webkit-animation:colorchange2 5s infinite alternate;
  }
  .navbar-toggler {
    border-color: #ED1963;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(237,25,99, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}



@-webkit-keyframes colorchange {
      0% {
        color: black;
      }
      
      100% {
        color: #ED1963;
      }
    }

@-webkit-keyframes colorchange2 {
  0% {
    color: white;
  }
  
  100% {
    color: #ED1963;
  }
}