<!-- Header / Navbar stuff -->
<header class="BW">
	<nav class="navbar navbar-expand-lg BW">
        <a href="{{ site.url }}/index.html#" class="navbar-brand BW">Morgan McIntyre</a>
        <button class="navbar-toggler BW" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse BW" id="navbarLinks">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="https://www.linkedin.com/in/morgan-mcintyre-28a568161/" class="nav-link BW" target="_top">
                        <img id=linked src="/assets/img/in_grey.png" style="height:30px; width:30px;">
                    </a>
                </li>
                <li>
                    <a href="mailto:morganmcintyre.design@gmail.com" class="nav-link BW">
                        <img id=email src="/assets/img/email_icon_grey.png" style="height:30px;width:30px;">
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/index.html#about" class="nav-link BW">About</a>
                </li>
                <li class="nav-item">
                    <a href="/index.html#portfolio" class="nav-link BW">Porfolio</a>
                </li>
                <!-- Links go here -->
                <!-- COLOR SWITCHER -->
                <li>
                    <label class="switch">
                        <button id=color_button class="btn BW fc_animated" onclick="switchBW()">Pastel</button>
                    </label>
                </li>
            </ul>
        </div>
	</nav>
</header>