---
---
// Greyscale
$white: white;
$link_grey: #707070;
$bg_offwhite: #F5F5F5;


//Pastel
$pink: #ED1963;
$purple: #222333;
$cyan: #C9FFF8;

#foot {
  padding-top:50px;
}

h1 {
  font-family: Rockwell;
}

h2 {
  font-family: 'Segoe UI';
}

.navbar-brand {
  font-size:1.755rem;
  font-family: Rockwell;
}

header {
  .BW {
    background-color:$white;
  }
  .NEON {
   background-color: $purple;
  }
}

.fc_animated {
    -webkit-animation:colorchange 5s infinite alternate;
}

.btn {
  background-color: rgba(255, 0, 0, 0.0) !important;
  font-size: 1.5rem;
}

#jumbo {
  margin-bottom: 0rem;
  padding-right: 20px;
  background-size: cover;
  height: 100vh;
  text-align: right;
} 

.jumbotron-fluid.BW {
  background-image: url("../img/jumbotron.png");
}

.jumbotron-fluid.NEON {
  background-image: url("../img/jumbotron_color.png");
}

.container-fluid.BW {
  color: black;
  background-color: $bg_offwhite;
}
.container-fluid.NEON {
  color: $cyan;
  background-color: $purple;
}

.container-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
}

.BW{
  .navbar-brand {
    color: black;
  }
  .nav-link {
    color: $link_grey;
  }
  .display-4 {
    color: $white;
  }
  .lead {
    color: $white;
  }
  #view_portfolio {
    color: $white;
  }
  .container-fluid {
      color: black;
      background-color: $bg_offwhite;
  }
  #about {
    background-color: $bg_offwhite;
  }
  h1 {
    color: black;
  }
  .btn {
    border-color: $white;
  }  
  .navbar-toggler {
    border-color: black;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  #color_button {
    background-color: rgba(255, 0, 0, 0.0) !important;
    border-color: black !important;
  }
}

 
.NEON{
  .navbar-brand {
    color: $pink;
  }
  .nav-link {
    color: $cyan;
  }
  .fc_animated{
    -webkit-animation:colorchange2 5s infinite alternate;
  }
  .display-4 {
    color: $cyan;
  }
  .lead {
    color: white;
  }
  #portfolio {
    color: $cyan;
  }
  .container-fluid {
    color: $cyan;
    background-color: $purple;
  }
  h1 {
    color: $pink;
  }
  .btn {
    border-color: $cyan;
  }
  .navbar-toggler {
    border-color: #ED1963;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(237,25,99, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

#bob {
  object-position: 0 0;
}

#romeo {
  object-position: top;
}

#jump {
  object-position: 0 0;
}

@-webkit-keyframes colorchange {
      0% {
        color: black;
      }
      
      100% {
        color: #ED1963;
      }
    }

@-webkit-keyframes colorchange2 {
  0% {
    color: white;
  }
  
  100% {
    color: #ED1963;
  }
}

.col-md-4 img {
  padding-bottom: 5px !important;
}

a span { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}