<!DOCTYPE html>
<html>
	<head>
		<title>Morgan's Site</title>

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="assets/favicon.png?">

        <!-- Loads stylesheet files from web and local -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
        
        <!-- Inline Style-->
        <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
	</head>

    <!-- Body = Main content for your site -->
    <body class="BW bg_3">

        <!-- Header / Navbar stuff -->
        <header class="BW bg_1">
        	<nav class="navbar navbar-expand-md navbar-dark BW bg_1">
                <a href="#" class="navbar-brand BW bg_1 fc_1">Morgan McIntyre</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse BW" id="navbarLinks">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#about" class="nav-link BW fc_2">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#portfolio" class="nav-link BW fc_2">Porfolio</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link BW fc_2">Contact</a>
                        </li>
                        <!-- Links go here -->
                        <!-- COLOR SWITCHER -->
                        <li>
                            <label class="switch">
                                <button class="btn BW fc_1" onclick="switchBW()">Colorize</button>
                            </label>
                        </li>
                    </ul>
                </div>
        	</nav>
		</header>



        <!-- Jumbotron -->
        <div id="jumbo" class="jumbotron jumbotron-fluid BW bg_3">
          <h1 class="display-4 BW fc_5" style="padding-top:50px;">Hi there, I'm Morgan McIntyre</h1>
          <p class="lead BW fc_3" >Take a look inside my portfolio</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg BW fc_5" href="#portfolio" role="button">View Portfolio</a>
          </p>
        </div>
        <!-- End Jumbotron -->


        <!-- About Me -->
        <div id="about" class="container-fluid fill bg-light BW bg_3">
            <div class="d-flex flex-row flex-wrap">
                <div class="col-sm" style="width:50%;">
                    <h1 class="BW fc_1" style="padding-top: 30px;">About Me</h1>
                    <p class="BW fc_4">"The most perfect person on the planet" - Everyone</p>
                </div>
                <div class="col-sm">
                    <img src="assets/me.png" alt="Morgan" align="middle">
                </div>
                
                
            </div>
        </div>


        <!-- ALBUM -->
        <div id="portfolio" class="album py-5 bg-light">
            <div class="container">
                
                <!-- ROW 1 -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text class="BW fc_1" x="50%" y="50%" dy=".3em">Thumbnail</text></svg>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            
                        </div>
                    </div>
                </div>

                <!-- ROW 2 -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            
                        </div>
                    </div>
                </div>
                <!-- END OF ROW 2 -->

            </div>
        </div>
        

        <!-- Contact -->
        <div id="contact" class="container fill">
            <p>Help</p>

            {% for item in site.gallery %}
                <p>{{ item.title }}</p>
            {% endfor %}

            <p style="color:blue;">Please</p>

        
            {% for i in (1..5) %}
                {% assign calc = var | modulo: 3 %}
                {% if  calc == 0 %}
                    <p>{{ var }} mod 3 = 0 </p>
                {% else %}
                    <p>{{ var }} didnt mod well</p>
                {% endif %}
                {% increment var %}
            {% endfor %}

            <p>Please</p>

            {{ content }}
        </div>


        <!-- FOOTER -->
        <footer class="text-muted">
            <div class="container">
                <p class="float-right">
                    <a href="#">Back to top</a>
                </p>
                <p>Designed by Morgan McIntyre | Built by Keith E. Miller</p>
            </div>
        </footer>


        <!-- Load scripts at the end-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="scripts/my_scripts.js"></script>


    </body>

</html>
