<!DOCTYPE html>
<html>
	<head>
		<title>Morgan's Site</title>

        <!-- Loads stylesheet files from web and local -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css"/>
        
	</head>

    <!-- Body = Main content for your site -->
    <body style="font-size: 1.5rem;">
        <!-- Header -->
        {% include header.html %}

        <!-- Jumbotron -->
        <div id="jumbo" class="jumbotron-fluid BW">
          <h1 class="display-4 BW" style="padding-top:50px;">Hi there, I'm Morgan McIntyre</h1>
          <p class="lead BW" >Take a look inside my portfolio</p>
          <p class="lead">
            <a id="view_portfolio" class="btn btn-primary btn-lg BW" href="#portfolio" role="button">View Portfolio</a>
          </p>
        </div>

        <!-- About Me -->
        <div id="about" class="container-fluid BW">
            <div class="d-flex flex-row flex-wrap">
                <div class="col-md" >
                    <h1 class="BW">About Me</h1>
                    <p class="BW">Hi! My name is Morgan, I am a recent graduate of Middlesex Community College where I studied Graphic Design. When I started school, I was unsure of the direction I wanted to take, so I went with what I knew best and enrolled in a drawing class.</p>
                    <p class="BW">Each time the class met, we would stand in a circle and critique the prior weeks assignment. During a routine critique, my Professor was talking about my piece when she walked over to me and asked, "Is this your field? Because I think this is your field." She was right, I knew I had to be an artist.</p>
                    <p class="BW">Not long afterwards, I switched my major to Graphic Design. With the help of my experienced professors and creative classmates, my design skills improved tremendously during my two years at Middlesex.</p>
                </div>
                <div class="col-md">
                    <img src="assets/img/me.png" alt="Morgan" align="middle" style="height:100%; width:100%; object-fit: cover;  overflow:hidden; object-position: right top; min-width: 300;">
                </div>
            </div>
        </div>

        <!-- ALBUM -->
        <div id="portfolio" class="album BW">
            <div class="container-fluid BW">
                <h1 class="BW" style="padding-top: 50px; padding-left: 15px; padding-right: 15px;">Portfolio</h1>
                {% for item in site.portfolio %}
                    {% assign calc = forloop.index0 | modulo: 3 %}
                    {% if  calc == 0 %}
                        {% assign div_switch = true %}
                        <div class="row" >
                    {% endif %}
                    <div class="col-lg-4" style="padding-bottom: 50px;">
                        <div class="container mb-4" style="height:580px;">
                            <img id={{ item.css_id }} src="assets/img/{{ item.picture }}" style="object-fit: cover; height:580px; width:100%;">
                            <h2 class="card-text BW" align="center">{{ item.title }}</h2>
                            <a href=".{{ item.url }}"><span></span></a>
                        </div>
                        
                    </div>
                    {% if calc == 2 %}
                        </div>
                        {% assign div_switch = false %}
                    {% endif %}
                {% endfor %}
                {% if my_variable == true %}
                  </div>
                {% endif %}

            </div>
        </div>

        <script>
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                console.log("mobile");
            }
            else{
                console.log("desktop");
            }
        </script>

        <!-- FOOTER -->
        {% include footer.html %}

        <!-- Load scripts at the end-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="assets/js/my_scripts.js"></script>
    </body>
</html>
